
<div class="d-flex flex-column justify-content-center align-items-center custom-height">
    <h2 class="lead text-secondary">Ajouter un candidat</h2>
    <div class="mx-0 mt-3 w-100 text-center">
        <mat-form-field class="col-6 col-md-3" appearance="fill" floatLabel="always">
            <mat-label>Prénom</mat-label>
            <input matInput type="text" [(ngModel)]="prenom" placeholder="Saisir un prénom">
        </mat-form-field>
    </div>
    <div class="mx-0 mt-3 w-100 text-center">
        <mat-form-field class="col-6 col-md-3" appearance="fill" floatLabel="always">
            <mat-label>Nom</mat-label>
            <input matInput type="text" [(ngModel)]="nom" placeholder="Saisir un nom">               
        </mat-form-field>
    </div>
    <div class="mx-0 mt-3 w-100 text-center">
        <button class="col-6 col-md-3" mat-raised-button color="primary" (click)=addCandidat()>Ajouter</button>
    </div>        
</div>