<div class="d-flex flex-column justify-content-center align-items-center custom-height">
    <h2 class="lead text-secondary">Connectez vous</h2>
    <div class="alert alert-warning" *ngIf='invalidLogin'>{{ errorMessage   }}</div>
    <div class="alert alert-success" *ngIf='loginSuccess'>{{ successMessage }}</div>
    <div class="mx-0 mt-3 w-100 text-center">
        <mat-form-field class="col-6 col-md-3" appearance="fill" floatLabel="always">
            <mat-label>Username</mat-label>
            <input matInput type="text"  [(ngModel)]="username" placeholder="Saisir un identifiant">
        </mat-form-field>
    </div>
    <div class="mx-0 mt-3 w-100 text-center">
        <mat-form-field class="col-6 col-md-3" appearance="fill" floatLabel="always">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" id="password" [(ngModel)]="password" placeholder="Saisir un mot de passe" value="Passpartout384!">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="mx-0 mt-3 w-100 text-center">
        <button class="col-6 col-md-3" mat-raised-button color="primary" (click)=login()>Login</button>
    </div>
    <div class="mx-0 mt-3 w-100 text-center">
        <a href="">Identifiants oubliés</a>
    </div>
</div>
