<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="d-block d-md-none flex-grow-1">
            <button mat-button [matMenuTriggerFor]="mobileMenu">Menu</button>
            <mat-menu #mobileMenu="matMenu">
                <button mat-menu-item [routerLink]="['/accueil']">Accueil</button>
                <button mat-menu-item [routerLink]="['/candidat']">Candidat Profil</button>
                <button mat-menu-item [routerLink]="['/candidat-ajouter']">Candidat Ajouter</button>
                <button mat-menu-item [routerLink]="['/candidat-rechercher']">Candidat Rechercher</button>
                <button mat-menu-item [routerLink]="['/entreprise']">Entreprise Profil</button>
                <button mat-menu-item [routerLink]="['/entreprise-ajouter']">Entreprise Ajouter</button>
                <button mat-menu-item [routerLink]="['/entreprise-rechercher']">Entreprise Rechercher</button>
                <button mat-menu-item [routerLink]="['/offre']">Offre Emploi</button>
                <button mat-menu-item [routerLink]="['/statistique']">Statistique</button>
                <button mat-menu-item [routerLink]="['/inscription']">Ajouter utilisateur</button>        
            </mat-menu>
        </div>
        <div class="d-none d-md-block">
            <a [routerLink]="['/accueil']" class="navbar-brand custom-navbar-text"><img src="../../assets/logo.png" alt="logo entreprise" width="32" height="32"></a>
            <button mat-button [matMenuTriggerFor]="cdtMenu">Candidat</button>
            <mat-menu #cdtMenu="matMenu">
                <button mat-menu-item [routerLink]="['/candidat']">Profil</button>
                <button mat-menu-item [routerLink]="['/candidat-ajouter']">Ajouter</button>
                <button mat-menu-item [routerLink]="['/candidat-rechercher']">Rechercher</button>            
            </mat-menu>
            <button mat-button [matMenuTriggerFor]="entpMenu">Entreprise</button>
            <mat-menu #entpMenu="matMenu">
                <button mat-menu-item [routerLink]="['/entreprise']">Profil</button>
                <button mat-menu-item [routerLink]="['/entreprise-ajouter']">Ajouter</button>
                <button mat-menu-item [routerLink]="['/entreprise-rechercher']">Rechercher</button>
            </mat-menu>
            <button mat-button [routerLink]="['/offre']">Offre Emploi</button>
            <button mat-button [routerLink]="['/statistique']">Statistique</button>
            <button mat-button [matMenuTriggerFor]="adminMenu">Administration</button>
            <mat-menu #adminMenu="matMenu">
                <button mat-menu-item [routerLink]="['/inscription']">Ajouter utilisateur</button>
                <button mat-menu-item [routerLink]="['/utilisateur-liste']">Liste utilisateurs</button>
            </mat-menu>
        </div>
        <div class="flex-grow-1 text-end">
            <a *ngIf="loggedIn"  class="flex-grow-1 text-end custom-navbar-text" [routerLink]="['/login']" (click)=logout()><span>{{ username }} | Sign out</span></a>
        </div>
    </div>
</nav>
