<mat-tab-group>
    <!----------TAB INFO GENERALES---------->
    <mat-tab label="Général">
        <div class="row mx-0">
            <div class="d-none d-md-block col-md-3 d-flex justify-content-center border-bottom">
                <form class="text-center mt-md-5" [formGroup]="formSearch">                   
                    <h2 class="text-secondary mt-1">Recherche rapide de candidat</h2>
                    <div class="mb-3">
                        <mat-form-field appearance="fill">
                            <mat-hint>Saisir un prénom</mat-hint>
                            <mat-label for="prenom1Cdt">Prénom</mat-label>
                            <input formControlName="prenom1Cdt" matInput type="text" list="prenom1Cdt" name="prenom1Cdt" required/>
                            <mat-error>Il faut saisir un prénom</mat-error>
                            <datalist id="prenom1Cdt">
                                <option *ngFor="let prenom of prenomsListe" value="{{ prenom }}">{{ prenom }}</option>
                            </datalist>
                        </mat-form-field>
                    </div>
                    <div class="mb-1">
                        <mat-form-field appearance="fill">
                            <mat-hint>Saisir un nom</mat-hint>
                            <mat-label for="nom1Cdt">Nom</mat-label>
                            <input formControlName="nom1Cdt" matInput type="text" list="nom1Cdt" name="nom1Cdt" required/>
                            <mat-error>Il faut saisir un nom</mat-error>
                            <datalist id="nom1Cdt">
                                <option *ngFor="let nom of nomsListe" value="{{ nom }}">{{ nom }}</option>
                            </datalist>
                        </mat-form-field>
                    </div>
                    <button class="my-2 mx-auto" mat-raised-button color="primary" (click)=chercher()>Rechercher</button>
                </form>
            </div>
            <div class="col-12 col-md-6 border-start border-secondary full-height-tab-custom">
                <h1 class="text-center text-secondary my-2">Informations Générales</h1>          
                <form class="mt-3 text-md-end" [formGroup]="formCdt">
                    <div class="text-center col-12 my-1">
                        <mat-slide-toggle [checked]="!slideCdtChecked" (change)="switchFormCdtEnable()">{{ sliderCdtTxt }}</mat-slide-toggle>
                    </div>
                    <input [hidden]="true" formControlName="idCandidat" matInput id="idCandidat" name="idCandidat"/>
                    <div class="row mx-0 mt-3">
                        <label class="col-3 col-md-2 ps-1 pe-3 pt-2" for="prenom2Cdt">Prénom</label>
                        <div class="col-9 col-md-4 px-0">
                            <input formControlName="prenom2Cdt" class="form-control ps-4" type="text" id="prenom2Cdt" name="prenom2Cdt" value=""/>
                        </div>
                        <label class="col-3 col-md-2 ps-1 pe-3 pt-3 pt-md-2" for="nom2Cdt">Nom</label>
                        <div class="col-9 col-md-4 px-0 pt-2 pt-md-0">
                            <input formControlName="nom2Cdt" class="form-control ps-4" type="text" id="nom2Cdt" name="nom2Cdt"  value=""/>
                        </div>
                    </div>
                    <div class="row mx-0 mt-2">
                        <label class="col-3 col-md-2 ps-1 pe-3 pt-2" for="telMobCdt">Téléphone</label>
                        <div class="col-9 col-md-4 px-0">
                            <input formControlName="telMobCdt" class="form-control ps-4" type="text" id="telCdt" name="telCdt" value=""/>
                        </div>
                        <label class="col-3 col-md-2 ps-1 pe-3 pt-3 pt-md-2" for="emailCdt">Email</label>
                        <div class="col-9 col-md-4 px-0 pt-2 pt-md-0">
                            <input formControlName="emailCdt" class="form-control ps-4" type="text" id="emailCdt" name="emailCdt" value=""/>
                        </div>
                    </div>
                    <div class="row mx-0 mt-2">
                        <label class="col-3 col-md-2 ps-1 pe-3 pt-2" for="adresseCdt">Adresse</label>
                        <div class="col-9 col-md-4 px-0">
                            <input formControlName="adresseCdt" class="form-control ps-4" type="text" id="adresseCdt" name="adresseCdt" value=""/>
                        </div>
                        <label class="col-3 col-md-2 ps-1 pe-3 pt-2 pt-md-0 pt-xxl-2" for="adresse2Cdt">Adresse (suite)</label>
                        <div class="col-9 col-md-4 px-0 pt-2 pt-md-0">
                            <input formControlName="adresse2Cdt" class="form-control ps-4" type="text" id="adresse2Cdt" name="adresse2Cdt" value=""/>
                        </div>
                    </div>
                    <div class="row mx-0 mt-2">
                        <label class="col-3 col-md-2 ps-1 pe-3 pt-2" for="villeCdt">Ville</label>
                        <div class="col-9 col-md-4 px-0">
                            <input formControlName="villeCdt" class="form-control ps-4" type="text" id="villeCdt" name="villeCdt" value=""/>
                        </div>
                        <label class="col-3 col-md-2 ps-1 pe-3 pt-3 pt-md-2" for="postalCdt">Code postal</label>
                        <div class="col-9 col-md-4 px-0 pt-2 pt-md-0">
                            <input formControlName="postalCdt" class="form-control ps-4" type="text" id="postalCdt" name="postalCdt" value=""/>
                        </div>
                    </div>
                    <div class="row mx-0 mt-2">
                        <label class="col-3 col-md-2 ps-1 pe-3 pt-2" for="nationCdt">Nationnalité</label>
                        <div class="col-9 col-md-4 px-0">
                            <input formControlName="nationCdt" list="nationCdt" class="form-control ps-4" type="text" name="nationCdt">
                            <datalist id="nationCdt">
                                <option *ngFor="let nation of nationsListe" value="{{ nation }}">{{ nation }}</option>                                
                            </datalist>
                        </div>
                        <label class="col-3 col-md-2 ps-1 pe-3 pt-2 pt-md-0 pt-xxl-2" for="situationCdt">Situation familiale</label>
                        <div class="col-9 col-md-4 px-0 pt-2 pt-md-0">
                            <select formControlName="situationCdt" class="form-select ps-4" id="situationCdt" name="situationCdt">
                                <option value="1">Célibataire</option>
                                <option value="2">Marié</option>
                                <option value="3">Divorcé</option>
                                <option value="4">Autre</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mx-0 mt-2">
                        <label class="col-3 col-md-2 ps-1 pe-3 pt-2" for="linkedinCdt">Linkedin</label>
                        <div class="col-9 col-md-4 px-0">
                            <input formControlName="linkedinCdt" class="form-control ps-4" type="text" id="linkedinCdt" name="linkedinCdt" value=""/>
                        </div>
                        <label class="col-3 col-md-2 ps-1 pe-3 pt-3 pt-md-2" for="mobiliteCdt">Mobilité</label>
                        <div class="col-9 col-md-4 px-0 pt-2 pt-md-0">
                            <select formControlName="mobiliteCdt" class="form-select ps-4" id="mobiliteCdt" name="mobiliteCdt">
                                <option value="0"></option>
                                <option value="1">pas de mobilité</option>
                                <option value="2">localité</option>
                                <option value="3">département</option>
                                <option value="4">région</option>
                                <option value="5">régions proches</option>
                                <option value="6">France</option>
                                <option value="7">Europe</option>
                                <option value="8">monde</option>
                                <option value="9">Autre</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mx-0 mt-2">
                        <label class="col-3 col-md-2 ps-1 pe-3 pt-2" for="githubCdt">Github</label>
                        <div class="col-9 col-md-4 px-0">
                            <input formControlName="githubCdt" class="form-control ps-4" type="text" id="githubCdt" name="githubCdt" value=""/>
                        </div>
                        <div class="col-2"></div>
                        <div class="col-4 px-0 text-start">
                            <mat-checkbox formControlName="dispoCdt" class="mt-2" id="dispoCdt" name="dispoCdt">Disponible immédiatement</mat-checkbox>
                        </div>
                    </div>
                    <div class="row mx-0 mt-2">
                        <div class="col-2"></div>
                        <div class="col-4 px-0 text-start">
                            <mat-checkbox formControlName="handicapCdt" class="mt-2" id="handicapCdt" name="handicapCdt">Travailleur handicapé</mat-checkbox>
                        </div>
                        <div class="col-1 col-md-2"></div>
                        <div class="col-5 col-md-4 px-0 text-start">
                            <mat-checkbox formControlName="permisCdt" class="mt-2" id="permisCdt" name="permisCdt">Permis de conduire</mat-checkbox>
                        </div>
                    </div>
                    <div class="row mx-0 mt-2">
                        <div class="col-2"></div>
                        <div class="col-4 px-0 text-start">
                            <mat-checkbox formControlName="teletravailCdt" class="mt-2" id="teletravailCdt" name="teletravailCdt">Télétravail</mat-checkbox>
                        </div>
                        <div class="col-1 col-md-2"></div>
                        <div class="col-5 col-md-4 px-0 text-start">
                            <mat-checkbox formControlName="vehiculeCdt" class="mt-2" id="vehiculeCdt" name="vehiculeCdt">Véhiculé</mat-checkbox>
                        </div>
                    </div>                                        
                    <div class="row mx-0 mt-2">
                        <label class="col-12 col-md-2 ps-1 pe-3 pt-2" for="textareaCdt">Détails</label>
                        <div class="col-12 col-md-10 px-0">
                            <textarea formControlName="textareaCdt" class="form-control" id="textareaCdt" rows="3"></textarea>
                        </div>
                    </div>                                        
                    <div class="col-12 text-center mt-2 mx-auto ms-md-5">
                        <button [disabled]=isDisabledCdtForm mat-raised-button color="primary" class="col-12" (click)='updateCandidat()'>Valider</button>                                                
                    </div>
                    <div class="text-center col-12 ps-1 pt-3 ms-md-5">
                        <mat-slide-toggle [checked]="!slideCdtChecked" (change)="switchFormCdtEnable()">{{ sliderCdtTxt }}</mat-slide-toggle>
                    </div>                                       
                    <div class="my-2"></div><!--DO NOT REMOVE-->
                </form>
            </div>        
        </div>
    </mat-tab>


<!----------TAB EDUCATION---------->


    <mat-tab label="Education">
        <div class="row mx-0">
            <div class="col-0 col-md-3"></div>
            <div class="col-12 col-md-6">
                <h1 class="text-secondary text-center my-3">Educations</h1>
                <form [formGroup]='formEdu' novalidate class="text-center"> <!--(ngSubmit)='submit()'-->    
                    <div class="row mx-0 text-start ps-1 pb-3">
                        <mat-slide-toggle [checked]="!slideEduChecked" (change)="switchFormEduEnable()">{{sliderEduTxt}}</mat-slide-toggle>
                    </div>          
                    <div formArrayName="educations" *ngFor="let t of educations.controls; let i = index">
                        <div [formGroupName]="i" class="mb-4 p-2 border border-secondary">
                            <div class="row mx-0">
                                <p class="lead text-start">Education {{i+1}}</p>
                            </div>                           
                            <input [hidden]="true" formControlName="idEducation" matInput id="idEducation" name="idEducation"/>                                                                                                                
                            <div class="row mx-0 mt-1">
                                <mat-form-field class="col-6" appearance="fill">
                                    <mat-hint>Saisir un diplôme</mat-hint>
                                    <mat-label for="diplomeEdu">Diplôme</mat-label>
                                    <input class="fs-6" formControlName="diplomeEdu" matInput type="text" id="diplomeEdu" name="diplomeEdu"/>
                                                      
                                </mat-form-field>
                                <mat-form-field class="col-6" appearance="fill">
                                    <mat-hint>Saisir un domaine</mat-hint>
                                    <mat-label  for="domaineEdu">Domaine</mat-label>
                                    <input class="fs-6" formControlName="domaineEdu" matInput type="text" id="domaineEdu" name="domaineEdu"/>                            
                                </mat-form-field>  
                            </div>
                            <div class="row mx-0 mt-1">
                                <mat-checkbox class="col-6 my-2 ps-3 text-start fs-6" formControlName="obtenuEdu">
                                    <span class="checkboxText">Diplôme obtenu</span>
                                </mat-checkbox>
                            </div>
                            <div class="row mx-0 mt-1">
                                <mat-form-field class="col-6" appearance="fill">
                                    <mat-hint>Saisir un lieu</mat-hint>
                                    <mat-label for="lieuEdu">Lieu</mat-label>
                                    <input class="fs-6" formControlName="lieuEdu" matInput type="text" id="lieuEdu" name="lieuEdu"/>                            
                                </mat-form-field>
                                <mat-form-field class="col-6" appearance="fill">
                                    <mat-hint>Saisir une école</mat-hint>
                                    <mat-label  for="ecoleEdu">Ecole</mat-label>
                                    <input class="fs-6" formControlName="ecoleEdu" matInput type="text" id="ecoleEdu" name="ecoleEdu"/>                            
                                </mat-form-field>       
                            </div>
                            <div class="row mx-0 mt-1">
                                <mat-form-field class="col-6" appearance="fill">
                                    <mat-hint>Saisir une date de début</mat-hint>
                                    <mat-label>Date de début</mat-label>
                                    <input class="fs-6" formControlName="debutEdu" matInput [matDatepicker]="pickerDebutEdu">                                
                                    <mat-datepicker-toggle matSuffix [for]="pickerDebutEdu"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerDebutEdu></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field class="col-6" appearance="fill">
                                    <mat-hint>Saisir une date de fin</mat-hint>
                                    <mat-label>Date de fin</mat-label>
                                    <input class="fs-6" formControlName="finEdu" matInput [matDatepicker]="pickerFinEdu">                                
                                    <mat-datepicker-toggle matSuffix [for]="pickerFinEdu"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerFinEdu></mat-datepicker>
                                </mat-form-field>   
                            </div>
                            <div class="row mx-0 mt-1">
                                <mat-form-field class="col-12" appearance="fill">
                                    <mat-hint>Saisir les détails</mat-hint>
                                    <mat-label>Détails</mat-label>
                                    <textarea class="fs-6" formControlName="textareaEdu" id="textareaEdu" name="textareaEdu" matInput placeholder="Quelques informations . . ."></textarea>                                                           
                                </mat-form-field>
                            </div>                  
                            <div class="row mx-0 my-2">
                                <div class="col-4"></div>
                            </div>
                            <div class="row mb-2 d-flex justify-content-center">
                                <button [disabled]=isDisabledEduForm mat-raised-button color="primary" class="col-4 me-1" (click)="deleteEducation(i)">Effacer l'éducation</button>        
                                <button [disabled]=isDisabledEduForm mat-raised-button color="primary" class="col-4 ms-1" (click)="saveEducation(i)">Valider l'éducation</button>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-0 my-2">
                        <div class="col-0 col-md-3"></div>
                        <div class="col-12 col-md-4 mt-2">
                            <button mat-raised-button color="primary" class="col-12" (click)='addEducationFormToList()'>Ajouter un diplôme</button>                                                
                        </div>
                        <div class="text-center text-md-start col-12 col-md-5 ps-1 ps-md-3 pt-3">
                            <mat-slide-toggle  [checked]="!slideEduChecked" (change)="switchFormEduEnable()">{{sliderEduTxt}}</mat-slide-toggle>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </mat-tab>


    <!----------TAB EXPERIENCE---------->

    
    <mat-tab label="Expérience">
        <div class="row mx-0">
            <div class="col-12 col-md-6 mx-auto">
                <h1 class="text-secondary text-center my-3">Expériences professionnelles</h1>
                <form [formGroup]='formExp' novalidate class="text-center">
                    <div class="row mx-0 text-start ps-1 pb-3">
                        <mat-slide-toggle [checked]="!slideExpChecked" (change)="switchFormExpEnable()">{{sliderExpTxt}}</mat-slide-toggle>
                    </div>
                    <div formArrayName="experiences" *ngFor="let t of experiences.controls; let i = index">
                        <div [formGroupName]="i" class="mb-4 p-2 border border-secondary">
                            <div class="row mx-0">
                                <p class="lead text-start">Expérience {{i+1}}</p>
                            </div>                       
                            <input [hidden]="true" formControlName="idExperience" matInput id="idExperience" name="idExperience"/>                                                                                    
                            <div class="row mx-0 mt-1">
                                <mat-form-field class="col-6" appearance="fill">
                                    <mat-hint>Saisir une mission</mat-hint>
                                    <mat-label for="missionExp">Mission</mat-label>
                                    <input class="fs-6" formControlName="missionExp" matInput type="text" id="missionExp" name="missionExp"/>                            
                                </mat-form-field>
                                <mat-form-field class="col-6" appearance="fill">
                                    <mat-hint>Saisir une entreprise</mat-hint>
                                    <mat-label  for="entrepriseExp">Entreprise</mat-label>
                                    <input class="fs-6" formControlName="entrepriseExp" matInput type="text" id="entrepriseExp" name="entrepriseExp"/>                            
                                </mat-form-field>
                            </div>                        
                            <div class="row mx-0 mt-1">
                                <mat-form-field class="col-6" appearance="fill">
                                    <mat-hint>Saisir un lieu</mat-hint>
                                    <mat-label for="lieuExp">Lieu</mat-label>
                                    <input class="fs-6" formControlName="lieuExp" matInput type="text" id="lieuExp" name="lieuExp"/>                            
                                </mat-form-field>
                                <!--<mat-form-field class="col-6" appearance="fill">
                                    <mat-hint>Saisir un pays</mat-hint>
                                    <mat-label  for="paysExp">Pays</mat-label>                                                             
                                    <input class="fs-6" formControlName="paysExp" matInput type="text" list="paysExp" name="paysExp" required />
                                    <datalist id="paysExp">
                                        <option>France</option>
                                        <option>Italie</option>
                                        <option>Ukraine</option>
                                        <option>Espagne</option>
                                    </datalist>
                                    <select matNativeControl class="fs-6" formControlName="paysExp" id="paysExp" name="paysExp">
                                        <option value="1">France</option>
                                        <option value="2">Italie</option>
                                        <option value="3">Ukraine</option>
                                        <option value="3">Espagne</option>
                                    </select>
                                </mat-form-field>-->                                  
                            </div>
                            <div class="row mx-0 mt-1">
                                <mat-form-field class="col-6" appearance="fill">
                                    <mat-hint>Saisir une date de début</mat-hint>
                                    <mat-label>Date de début</mat-label>
                                    <input class="fs-6" formControlName="debutExp" matInput [matDatepicker]="pickerDebutExp">                                
                                    <mat-datepicker-toggle matSuffix [for]="pickerDebutExp"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerDebutExp></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field class="col-6" appearance="fill">
                                    <mat-hint>Saisir une date de fin</mat-hint>
                                    <mat-label>Date de fin</mat-label>
                                    <input class="fs-6" formControlName="finExp" matInput [matDatepicker]="pickerFinExp">                                
                                    <mat-datepicker-toggle matSuffix [for]="pickerFinExp"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerFinExp></mat-datepicker>
                                </mat-form-field>   
                            </div>
                            <div class="row mx-0 mt-1">
                                <mat-form-field class="col-12" appearance="fill">
                                    <mat-hint>Saisir les détails</mat-hint>
                                    <mat-label>Détails</mat-label>
                                    <textarea class="fs-6" formControlName="textareaExp" id="textareaExp" name="textareaExp" matInput></textarea>                                                           
                                </mat-form-field>
                            </div>                  
                            <div class="row mx-0 my-2">
                                <div class="col-4"></div>
                            </div>
                            <div class="row mb-2 d-flex justify-content-center">
                                <button [disabled]=isDisabledExpForm mat-raised-button color="primary" class="col-4 me-1" (click)="deleteExperience(i)">Effacer l'expérience</button>        
                                <button [disabled]=isDisabledExpForm mat-raised-button color="primary" class="col-4 ms-1" (click)="saveExperience(i)">Valider l'expérience</button>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-0 my-2">
                        <div class="col-3"></div>
                        <div class="col-4 mt-2">
                            <button mat-raised-button color="primary" class="col-12" (click)='addExperienceFormToList()'>Ajouter une mission</button>                                                
                        </div>
                        <div class="text-center text-md-start col-12 col-md-5 ps-1 ps-md-3 pt-3">
                            <mat-slide-toggle  [checked]="!slideExpChecked" (change)="switchFormExpEnable()">{{sliderExpTxt}}</mat-slide-toggle>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </mat-tab>

    <!----------TAB COMPETENCE---------->

    <mat-tab label="Compétence">
        <div class="row mx-0">
            <div class="col-12 col-md-6 mx-auto">
                <h1 class="text-secondary text-center my-3">Compétences</h1>
                <form [formGroup]='formCmp' novalidate class="text-center">
                    <div class="row mx-0 text-start ps-1 pb-3">
                        <mat-slide-toggle [checked]="!slideCmpChecked" (change)="switchFormCmpEnable()">{{sliderCmpTxt}}</mat-slide-toggle>
                    </div>          
                    <div formArrayName="competences" *ngFor="let t of competences.controls; let i = index">
                        <div [formGroupName]="i" class="mb-4 p-2 border border-secondary">
                            <div class="row mx-0">
                                <p class="lead text-start">Compétence {{i+1}}</p>
                            </div>                           
                            <input [hidden]="true" formControlName="idCompetence" matInput id="idCompetence" name="idCompetence"/>
                            <div class="row mx-0 mt-1">
                                <mat-form-field class="col-6" appearance="fill">
                                    <mat-hint>Saisir une compétence</mat-hint>
                                    <mat-label for="competenceCmp">Compétence</mat-label>
                                    <input class="fs-6" formControlName="competenceCmp" matInput type="text" id="competenceCmp" name="competenceCmp"/>
                                </mat-form-field>
                                <mat-form-field class="col-6" appearance="fill">
                                    <mat-hint>Saisir un niveau</mat-hint>
                                    <mat-label  for="niveauCmp">Niveau</mat-label>
                                    <select matNativeControl class="fs-6" formControlName="niveauCmp" id="niveauCmp" name="niveauCmp">
                                        <option value="1">Notion</option>
                                        <option value="2">Intermédiaire</option>
                                        <option value="3">Avancé</option>
                                        <option value="4">Maitrise</option>
                                        <option value="5">Autre</option>
                                    </select>
                                </mat-form-field>
                            </div>                            
                            <div class="row mx-0 mt-1">
                                <mat-form-field class="col-6" appearance="fill">
                                    <mat-hint>Saisir un type</mat-hint>
                                    <mat-label for="typeCmp">Type</mat-label>                                                                                                  
                                    <select matNativeControl class="fs-6" formControlName="typeCmp" id="typeCmp" name="typeCmp">
                                        <option value="1">Informatique</option>
                                        <option value="2">Communication</option>
                                        <option value="3">Conception</option>
                                        <option value="4">Management</option>
                                    </select>
                                </mat-form-field>
                            </div>
                            <div class="row mx-0 mt-1">
                                <mat-form-field class="col-12" appearance="fill">
                                    <mat-hint>Saisir les détails</mat-hint>
                                    <mat-label>Détails</mat-label>
                                    <textarea class="fs-6" formControlName="textareaCmp" id="textareaCmp" name="textareaCmp" matInput placeholder="Quelques informations sur la compétence . . ."></textarea>                                                           
                                </mat-form-field>
                            </div>
                            <div class="row mx-0 my-2">
                                <div class="col-4"></div>
                            </div>
                            <div class="row mb-2 d-flex justify-content-center">
                                <button [disabled]=isDisabledCmpForm mat-raised-button color="primary" class="col-4 me-1" (click)="deleteCompetence(i)">Effacer la compétence</button>        
                                <button [disabled]=isDisabledCmpForm mat-raised-button color="primary" class="col-4 ms-1" (click)="saveCompetence(i)">Valider la compétence</button>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-0 my-2">
                        <div class="col-3"></div>
                        <div class="col-4 mt-2">
                            <button mat-raised-button color="primary" class="col-12" (click)='addCompetenceFormToList()'>Ajouter une compétence</button>                                                
                        </div>
                        <div class="text-center text-md-start col-12 col-md-5 ps-1 ps-md-3 pt-3">
                            <mat-slide-toggle  [checked]="!slideCmpChecked" (change)="switchFormCmpEnable()">{{sliderCmpTxt}}</mat-slide-toggle>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Langue">
        <div class="row mx-0">
            <div class="col-12 col-md-6 mx-auto">
                <h1 class="text-secondary text-center my-3">Langues</h1>
                <form [formGroup]='formLng' novalidate class="text-center">
                    <div class="row mx-0 text-start ps-1 pb-3">
                        <mat-slide-toggle [checked]="!slideLngChecked" (change)="switchFormLngEnable()">{{sliderLngTxt}}</mat-slide-toggle>
                    </div>          
                    <div formArrayName="langues" *ngFor="let t of langues.controls; let i = index">
                        <div [formGroupName]="i" class="mb-4 p-2 border border-secondary">
                            <div class="row mx-0">
                                <p class="lead text-start">Langues {{i+1}}</p>
                            </div>                            
                            <input [hidden]="true" formControlName="idLangue" matInput id="idLangue" name="idLangue"/>
                            <div class="row mx-0 mt-1">
                                <mat-form-field class="col-6" appearance="fill">
                                    <mat-hint>Saisir une langue</mat-hint>
                                    <mat-label for="langueLng">Langues</mat-label>
                                    <input class="fs-6" formControlName="langueLng" matInput type="text" id="langueLng" name="langueLng"/>
                                </mat-form-field>
                                <mat-form-field class="col-6" appearance="fill">
                                    <mat-hint>Saisir un niveau</mat-hint>
                                    <mat-label  for="niveauLng">Niveau</mat-label>
                                    <select matNativeControl class="fs-6" formControlName="niveauLng" id="niveauLng" name="niveauLng">
                                        <option value="1">Notion</option>
                                        <option value="2">Intermédiaire</option>
                                        <option value="3">Avancé</option>
                                        <option value="4">Maitrise</option>
                                        <option value="5">Autre</option>
                                    </select>
                                </mat-form-field>
                            </div>
                            <div class="row mx-0 mt-1">
                                <mat-form-field class="col-6" appearance="fill">
                                    <mat-hint>Saisir une certification</mat-hint>
                                    <mat-label for="typeCmp">Certification</mat-label>
                                    <select matNativeControl class="fs-6" formControlName="certificationLng" id="certificationLng" name="certificationLng">
                                        <option value="1">Tofl</option>
                                        <option value="2">Toei</option>
                                        <option value="3">Cambridge</option>
                                        <option value="4">Oxford</option>
                                        <option value="5">Autre</option>
                                    </select>
                                </mat-form-field>
                            </div>
                            <div class="row mx-0 mt-1">
                                <mat-form-field class="col-12" appearance="fill">
                                    <mat-hint>Saisir les détails</mat-hint>
                                    <mat-label>Détails</mat-label>
                                    <textarea class="fs-6" formControlName="textareaLng" id="textareaLng" name="textareaLng" matInput placeholder="Une aptitude à faire ..."></textarea>
                                </mat-form-field>
                            </div>
                            <div class="row mx-0 my-2">
                                <div class="col-4"></div>
                            </div>
                            <div class="row mb-2 d-flex justify-content-center">
                                <button [disabled]=isDisabledLngForm mat-raised-button color="primary" class="col-4 me-1" (click)="deleteLangue(i)">Effacer la langue</button>
                                <button [disabled]=isDisabledLngForm mat-raised-button color="primary" class="col-4 ms-1" (click)="saveLangue(i)">Valider la langue</button>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-0 my-2">
                        <div class="col-3"></div>
                        <div class="col-4 mt-2">
                            <button mat-raised-button color="primary" class="col-12" (click)='addLangueFormToList()'>Ajouter une langue</button>
                        </div>
                        <div class="text-center text-md-start col-12 col-md-5 ps-1 ps-md-3 pt-3">
                            <mat-slide-toggle  [checked]="!slideLngChecked" (change)="switchFormLngEnable()">{{sliderLngTxt}}</mat-slide-toggle>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Entretien">
        <div class="row mx-0">
            <div class="col-12 col-md-6 mx-auto">
                <h1 class="text-secondary text-center my-3">Entretiens</h1>
                <form [formGroup]='formEtt' novalidate class="text-center">
                    <div class="row mx-0 text-start ps-1 pb-3">
                        <mat-slide-toggle [checked]="!slideEttChecked" (change)="switchFormEttEnable()">{{sliderEttTxt}}</mat-slide-toggle>
                    </div>
                    <div formArrayName="entretiens" *ngFor="let t of entretiens.controls; let i = index">
                        <div [formGroupName]="i" class="mb-4 p-2 border border-secondary">
                            <div class="row mx-0">
                                <p class="lead text-start">Entretien {{i+1}}</p>
                            </div>
                            <input [hidden]="true" formControlName="idEntretien" matInput id="idEntretien" name="idEntretien"/>
                            <div class="row mx-0 mt-1">
                                <mat-form-field class="col-6" appearance="fill">
                                    <mat-hint>Saisir une date d'entretien</mat-hint>
                                    <mat-label for="dateEtt">Date</mat-label>
                                    <input class="fs-6" formControlName="dateEtt" matInput [matDatepicker]="pickerDateEtt" id="dateEtt" name="dateEtt"/>
                                    <mat-datepicker-toggle matSuffix [for]="pickerDateEtt"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerDateEtt></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field class="col-6" appearance="fill">
                                    <mat-hint>Saisir un lieu d'entretien</mat-hint>
                                    <mat-label  for="lieuEtt">Lieu</mat-label>
                                    <input class="fs-6" formControlName="lieuEtt" matInput type="text" id="lieuEtt" name="lieuEtt"/>
                                </mat-form-field>
                            </div>
                            <div class="row mx-0 mt-1">
                                <mat-form-field class="col-6" appearance="fill">
                                    <mat-hint>Saisir un prénom de recruteur</mat-hint>
                                    <mat-label for="prenomRctrEtt">Prénom du recruteur</mat-label>
                                    <input class="fs-6" formControlName="prenomRctrEtt" matInput type="text" id="prenomRctrEtt" name="prenomRctrEtt"/>
                                </mat-form-field>
                                <mat-form-field class="col-6" appearance="fill">
                                    <mat-hint>Saisir un nom de recruteur</mat-hint>
                                    <mat-label for="nomRctrEtt">Nom du recruteur</mat-label>
                                    <input class="fs-6" formControlName="nomRctrEtt" matInput type="text" id="nomRctrEtt" name="nomRctrEtt"/>
                                </mat-form-field>
                            </div>
                            <div class="row mx-0 mt-1">
                                <mat-form-field class="col-6" appearance="fill">
                                    <mat-hint>Saisir une mission</mat-hint>
                                    <mat-label for="missionEtt">Mission</mat-label>
                                    <input class="fs-6" formControlName="missionEtt" matInput type="text" id="missionEtt" name="missionEtt"/>
                                </mat-form-field>
                                <mat-form-field class="col-6" appearance="fill">
                                    <mat-hint>Saisir un contrat</mat-hint>
                                    <mat-label  for="contratEtt">Contrat</mat-label>
                                    <select matNativeControl class="fs-6" formControlName="contratEtt" id="contratEtt" name="contratEtt">
                                        <option value="1">Cdi</option>
                                        <option value="2">Cdd</option>
                                        <option value="3">Ctt</option>
                                        <option value="4">Apprentisssage</option>
                                        <option value="5">Professionalisation</option>
                                        <option value="6">Cui</option>
                                        <option value="7">Cae</option>
                                      </select>
                                </mat-form-field>
                            </div>
                            <div class="row mx-0 mt-1">
                                <mat-form-field class="col-12" appearance="fill">
                                    <mat-hint>Saisir un résumé</mat-hint>
                                    <mat-label>Résumé</mat-label>
                                    <textarea class="fs-6" formControlName="textareaEtt" id="textareaEtt" name="textareaEtt" matInput placeholder="Déroulement de l'entretien..."></textarea>
                                </mat-form-field>
                            </div>
                            <div class="row mx-0 my-2">
                                <div class="col-4"></div>
                            </div>
                            <div class="row mb-2 d-flex justify-content-center">
                                <button [disabled]=isDisabledEttForm mat-raised-button color="primary" class="col-4 me-1" (click)="deleteEntretien(i)">Effacer l'entretien</button>        
                                <button [disabled]=isDisabledEttForm mat-raised-button color="primary" class="col-4 ms-1" (click)="saveEntretien(i)">Valider l'entretien</button>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-0 my-2">
                        <div class="col-3"></div>
                        <div class="col-4 mt-2">
                            <button mat-raised-button color="primary" class="col-12" (click)="addEntretienFormToList()">Ajouter un entretien</button>                                                
                        </div>
                        <div class="text-center text-md-start col-12 col-md-5 ps-1 ps-md-3 pt-3">
                            <mat-slide-toggle [checked]="!slideEttChecked" (change)="switchFormEttEnable()">{{sliderEttTxt}}</mat-slide-toggle>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Projet">
        <div class="row mx-0">
            <div class="col-12 col-md-6 mx-auto">
                <h1 class="text-secondary text-center my-3">Projets</h1>
                <form [formGroup]='formPrj' novalidate class="text-center">
                    <div class="row mx-0 text-start ps-1 pb-3">
                        <mat-slide-toggle [checked]="!slidePrjChecked" (change)="switchFormPrjEnable()">{{sliderPrjTxt}}</mat-slide-toggle>
                    </div>
                    <div formArrayName="projets" *ngFor="let t of projets.controls; let i = index">
                        <div [formGroupName]="i" class="mb-4 p-2 border border-secondary">
                            <div class="row mx-0">
                                <p class="lead text-start">Projet {{i+1}}</p>
                            </div>                            
                            <input [hidden]="true" formControlName="idProjet" matInput id="idProjet" name="idProjet"/>                            
                            <div class="row mx-0 mt-1">
                                <mat-form-field class="col-6" appearance="fill">
                                    <mat-hint>Saisir un nom</mat-hint>
                                    <mat-label for="nomPrj">Nom du projet</mat-label>
                                    <input class="fs-6" formControlName="nomPrj" matInput type="text" id="nomPrj" name="nomPrj"/>
                                </mat-form-field>
                            </div>
                            <div class="row mx-0 mt-1">
                                <mat-form-field class="col-6" appearance="fill">
                                    <mat-hint>Saisir un type</mat-hint>
                                    <mat-label for="typePrj">Type</mat-label>
                                    <select matNativeControl class="fs-6" formControlName="typePrj" id="typePrj" name="typePrj">
                                        <option value="1">Personnel</option>
                                        <option value="2">professionnel</option>
                                    </select>
                                </mat-form-field>
                                <mat-form-field class="col-6" appearance="fill">
                                    <mat-hint>Saisir un domaine</mat-hint>
                                    <mat-label  for="domainePrj">Domaine</mat-label>
                                    <input class="fs-6" formControlName="domainePrj" matInput type="text" id="domainePrj" name="domainePrj"/>
                                </mat-form-field>
                            </div>                           
                            <div class="row mx-0 mt-1">
                                <mat-form-field class="col-6" appearance="fill">
                                    <mat-hint>Saisir une date de début</mat-hint>
                                    <mat-label for="debutPrj">Début</mat-label>
                                    <input class="fs-6" formControlName="debutPrj" matInput [matDatepicker]="pickerDebutPrj" id="debutPrj" name="debutPrj"/>                                                                    
                                    <mat-datepicker-toggle matSuffix [for]="pickerDebutPrj"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerDebutPrj></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field class="col-6" appearance="fill">
                                    <mat-hint>Saisir une date de fin</mat-hint>
                                    <mat-label for="finPrj">Fin</mat-label>
                                    <input class="fs-6" formControlName="finPrj" matInput [matDatepicker]="pickerFinPrj" id="finPrj" name="finPrj"/>
                                    <mat-datepicker-toggle matSuffix [for]="pickerFinPrj"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerFinPrj></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="row mx-0 mt-1">
                                <mat-form-field class="col-12" appearance="fill">
                                    <mat-hint>Saisir une description</mat-hint>
                                    <mat-label>Description</mat-label>
                                    <textarea class="fs-6" formControlName="textareaPrj" id="textareaPrj" name="textareaPrj" matInput placeholder="Décrire le projet..."></textarea>
                                </mat-form-field>
                            </div>
                            <div class="row mx-0 my-2">
                                <div class="col-4"></div>
                            </div>
                            <div class="row mb-2 d-flex justify-content-center">
                                <button [disabled]=isDisabledPrjForm mat-raised-button color="primary" class="col-4 me-1" (click)="deleteProjet(i)">Effacer le projet</button>
                                <button [disabled]=isDisabledPrjForm mat-raised-button color="primary" class="col-4 ms-1" (click)="saveProjet(i)">Valider le projet</button>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-0 my-2">
                        <div class="col-3"></div>
                        <div class="col-4 mt-2">
                            <button mat-raised-button color="primary" class="col-12" (click)="addProjetFormToList()">Ajouter un projet</button>                                                
                        </div>
                        <div class="text-center text-md-start col-12 col-md-5 ps-1 ps-md-3 pt-3">
                            <mat-slide-toggle [checked]="!slidePrjChecked" (change)="switchFormPrjEnable()">{{sliderPrjTxt}}</mat-slide-toggle>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="Document">
        <div class="row mx-0">
            <div class="col-12 col-md-4 mt-1 d-flex justify-content-center">              
                <form [formGroup]='formDoc'>
                    <div class="row mx-0 mt-3">
                        <mat-form-field appearance="fill">
                            <mat-hint>Saisir un nom</mat-hint>
                            <mat-label for="nomDoc">Nom du document</mat-label>
                            <input formControlName="nomDoc" class="fs-6 file-upload"matInput type="text" id="nomDoc" name="nomDoc"/>
                        </mat-form-field>
                    </div>
                    <div class="row mx-0 mt-3">
                        <mat-form-field appearance="fill">
                            <mat-hint>Saisir une catégorie</mat-hint>
                            <mat-label for="categorieDoc">Catégorie</mat-label>
                            <select matNativeControl class="fs-6" formControlName="categorieDoc" id="categorieDoc" name="categorieDoc">
                                <option value="1">Cv</option>
                                <option value="2">Lettre de motivation</option>
                                <option value="3">Lettre de recommandation</option>
                                <option value="4">Diplôme</option>
                                <option value="5">Certification</option>
                                <option value="6">Habilitation</option>
                                <option value="7">Pièce d'identité</option>
                                <option value="8">Autre</option>
                            </select>
                        </mat-form-field>
                    </div>
                    <div class="row mt-3">
                        <button class="mx-auto" mat-raised-button color="primary" (click)="addDocument()">Ajouter un document</button>
                    </div>
                </form>
            </div>
            <div class="col-12 col-md-8 row mx-auto border-start border-secondary">
                <h1 class="text-secondary text-center me-5 my-3">Documents</h1>
                <div *ngFor="let doc of documents">
                    <h2 class="text-secondary text-start ms-5 ps-5 my-0 py-0">{{ doc[0] }}</h2>
                    <div class="row mx-0 text-center" *ngFor="let nom of doc[1]; let j = index">                
                        <div class="fw-light fs-5">{{ nom }}</div>
                        <div class="col-12 mt-1">
                            <button mat-raised-button color="primary" (click)="viewDocument(j)">Afficher</button>
                        </div>
                        <div class="col-12 my-1">
                            <button mat-raised-button color="primary" (click)="deleteDocument(j)">Effacer</button>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="Matcher">
        <div class="row mx-0">
            <div class="col-6 mx-auto">
                <h1 class="text-secondary text-center my-3">Match candidats, entreprises et offres d'emplois</h1>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>
  