:host ::ng-deep .mat-tab-label 
{
    padding-left : 0;
    padding-right: 0;
    min-width    : 110px;
    //background   : rgba(128, 128, 128, 0.406);
    background   : rgba(97, 99, 97, 0.973);
    color        : white;
}

button {
    max-width:200px;
}
