<div class="row mx-0">
    <div class="col-3 col-xxl-4 row mx-0 pe-5 text-center border-end border-secondary">
        <div class="col-12 col-xxl-8 mx-auto fs-6 fw-light" *ngIf="candidats.length>0">
            <h3 class="mt-3 fw-bolder text-secondary">Liste des candidats</h3>
            <div class="row mx-0 text-start border border-secondary">
                <div class="col-2">Id    </div>
                <div class="col-5">Nom   </div>
                <div class="col-5">Prénom</div>
            </div>
            <div *ngFor="let candidat of candidats" class="candidat-card" [routerLink]="['/candidat', candidat.idCandidat]">
                <div class="row mx-0 text-start hover-color">
                    <div class="col-2">{{ candidat.idCandidat }}</div>
                    <div class="col-5">{{ candidat.nom        }}</div>
                    <div class="col-5">{{ candidat.prenom     }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-xxl-4 mx-0">
        <div class="row mx-0">
            <div class="col-2"></div>
            <h1 class="col-10 text-center text-secondary my-3">Rechercher un profil candidat</h1>
        </div>
        <form class="mt-3 text-end" [formGroup]="formSearchCdt">
            <div class="row mx-0 mt-2">
                <label class="col-2 ps-1 pe-3 pt-2" for="nomSearchCdt">Nom</label>
                <div class="col-4 px-0">
                    <input formControlName="nomSearchCdt" class="form-control ps-4" type="text" id="nomSearchCdt" name="nomSearchCdt" value=""/>
                </div>
                <label class="col-2 ps-1 pe-3 pt-2" for="prenomSearchCdt">Prénom</label>
                <div class="col-4 px-0">
                    <input formControlName="prenomSearchCdt" class="form-control ps-4" type="text" id="prenomSearchCdt" name="prenomSearchCdt" value=""/>                    
                </div>
            </div>

            <div class="row mx-0 mt-1">
                <label class="col-2 ps-1 pe-3 pt-2" for="telSearchCdt">Téléphone</label>
                <div class="col-4 px-0">
                    <input formControlName="telSearchCdt" class="form-control ps-4" type="text" id="telSearchCdt" name="telSearchCdt"/>
                </div>
                <label class="col-2 ps-1 pe-3 pt-2" for="emailSearchCdt">Email</label>
                <div class="col-4 px-0">
                    <input formControlName="emailSearchCdt" class="form-control ps-4" type="text" id="emailSearchCdt" name="emailSearchCdt"/>
                </div>
            </div>
            <div class="row mx-0 mt-1">
                <label class="col-2 ps-1 pe-3 pt-2" for="villeSearchCdt">Ville</label>
                <div class="col-4 px-0">
                    <input formControlName="villeSearchCdt" class="form-control ps-4" type="text" id="villeSearchCdt" name="villeSearchCdt"/>
                </div>
                <label class="col-2 ps-1 pe-3 pt-2" for="linkedinSearchCdt">linkedin</label>
                <div class="col-4 px-0">
                    <input formControlName="linkedinSearchCdt" class="form-control ps-4" type="text" id="linkedinSearchCdt" name="linkedinSearchCdt"/>
                </div>
            </div>
            <div class="row mx-0 mt-3">
                <label class="col-2 ps-1 pe-3 pt-2" for="diplomeSearchCdt">Diplômes</label>
                <div class="col-4 px-0">
                    <input formControlName="diplomeSearchCdt" class="form-control ps-4" type="text" id="diplomeSearchCdt" name="diplomeSearchCdt" placeholder="diplome1, diplome2 ..."/>
                </div>
                <label class="col-2 ps-1 pe-3 pt-2" for="domaineSearchCdt">Domaines</label>
                <div class="col-4 px-0">
                    <input formControlName="domaineSearchCdt" class="form-control ps-4" type="text" id="domaineSearchCdt" name="domaineSearchCdt" placeholder="domaine1, domaine2 ..."/>
                </div>
            </div>
            <!--<div class="row mx-0 mt-1">
                <label class="col-2 ps-1 pe-3 pt-2" for="adresseSearchCdt">Certifications</label>
                <div class="col-10 px-0">
                    <input formControlName="adresseSearchCdt" class="form-control ps-4" type="text" id="adresseSearchCdt" name="adresseSearchCdt"/>
                </div>                
            </div>

            <div class="row mx-0 mt-1">
                <label class="col-2 ps-1 pe-3 pt-2" for="adresseSearchCdt">Habilitations</label>
                <div class="col-10 px-0">
                    <input formControlName="adresseSearchCdt" class="form-control ps-4" type="text" id="adresseSearchCdt" name="adresseSearchCdt"/>
                </div>                
            </div>-->
            <div class="row mx-0 mt-1">
                <label class="col-2 ps-1 pe-3 pt-2" for="competenceSearchCdt">Compétences</label>
                <div class="col-10 px-0">
                    <input formControlName="competenceSearchCdt" class="form-control ps-4" type="text" id="competenceSearchCdt" name="competenceSearchCdt" placeholder="compétence1 compétence2 ..."/>
                </div>                
            </div>
            <div class="row mx-0 mt-1">
                <label class="col-2 ps-1 pe-3 pt-2" for="langueSearchCdt">Langues</label>
                <div class="col-10 px-0">
                    <input formControlName="langueSearchCdt" class="form-control ps-4" type="text" id="langueSearchCdt" name="langueSearchCdt" placeholder="langue1 langue2 ..."/>
                </div>                
            </div>
            <div class="row mx-0 mt-1">
                <label class="col-2 ps-1 pe-3 pt-2" for="entrepriseSearchCdt">Entreprises</label>
                <div class="col-10 px-0">
                    <input formControlName="entrepriseSearchCdt" class="form-control ps-4" type="text" id="entrepriseSearchCdt" name="entrepriseSearchCdt" placeholder="entreprise1, entreprise2 ..."/>
                </div>                
            </div>
            <div class="row mx-0 mt-1">
                <div class="col-1"></div>
                <div class="col-5 text-start pt-1 ps-5">
                    <mat-slide-toggle formControlName="teletravailSearchCdt" id="teletravailSearchCdt" name="teletravailSearchCdt">Télétravail</mat-slide-toggle>
                </div>
                <label class="col-2 ps-1 pe-3 pt-2" for="mobiliteSearchCdt">Mobilité</label>
                <div class="col-4 px-0">
                    <select formControlName="mobiliteSearchCdt" class="form-select"  id="mobiliteSearchCdt" name="mobiliteSearchCdt" aria-label="Mobilite">
                        <option value="0"></option>
                        <option value="1">Département</option>
                        <option value="2">Région</option>
                        <option value="3">Régions proches</option>
                        <option value="4">France</option>
                        <option value="5">Europe</option>
                        <option value="6">Monde</option>
                        <option value="7">Autre</option>                                
                    </select>
                </div>
            </div>
            <div class="row mx-0 mt-3">
                <div class="col-1"></div>
                <div class="col-5 text-start ps-5">
                    <mat-slide-toggle formControlName="handicapeSearchCdt" id="handicapeSearchCdt" name="handicapeSearchCdt">Travailleur handicapé</mat-slide-toggle>
                </div>
                <div class="col-6 text-start ps-5">
                    <mat-slide-toggle formControlName="dispoSearchCdt" id="dispoSearchCdt" name="dispoSearchCdt">Disponible immédiatement</mat-slide-toggle>
                </div>
            </div>            
           
            <div class="row mx-0 my-2">                
                <div class="col-2"></div>
                <button mat-raised-button color="primary" class="col-4 mx-auto" type="submit">Rechercher</button>                
            </div>
            
            <div class="row mx-0 my-0">
                <div class="col-4"></div>
            </div>
        </form>
    </div>
    <!--<div class="col-3"></div>-->
</div>