
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. 
// We include this here so that you only have to load a single css file for Angular Material in your app. Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss (imported above). 
// For each palette, you can optionally specify a default, lighter, and darker hue. 
// Available color palettes: https://material.io/design/color/
$recrute-primary: mat.define-palette(mat.$blue-palette, 300);
$recrute-accent : mat.define-palette(mat.$blue-palette, 600);
$recrute-warn   : mat.define-palette(mat.$red-palette , 200); // The warn palette is optional (defaults to red).

// Create the theme object. A theme consists of configurations for individual theming systems such as "color" or "typography".
$recrute-theme: mat.define-light-theme((
  color: (
    primary: $recrute-primary,
    accent : $recrute-accent,
    warn   : $recrute-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component that you are using.
@include mat.all-component-themes($recrute-theme);

/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body {
   min-height: 100vh;
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

header {
  color: white
}

footer {
  
}

* {
  user-select: none;
}

input {
  user-select:text;
}

/*.form-control:focus {
  border-color: #ff80ff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5);
}*/
.form-control:focus, .form-select:focus {
  border-color: #2596be; //#005091
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(22, 139, 193, 0.5);
}

.mat-app-background {
  background-color: white;
}

.custom-bg {
  background:#42a5f5;
}

.custom-btn-color {
  background:#2596be;
  color     :white  ;
}

.custom-navbar-text {
  color:white;
}

.custom-navbar-text:hover {
  color: whitesmoke;
}

//override des éléments material angular 
.mat-tab {
  flex: none;
  width: 100px!important;
}

.mat-checkbox-checked.mat-accent.mat-checkbox-disabled .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #42a5f5;//#2596be !important;
}
.checkboxText {
  color: rgba(0,0,0,1)!important;
}

.mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after, .mat-input-element:disabled {
  color: rgba(0,0,0,1)!important;
}

.full-height-custom {
  min-height: calc(100vh - 100px);
}

.full-height-tab-custom {
  min-height: calc(100vh - 150px);
}
